<div class="battlefield">
    <div class="health">{health}</div>

    <Battle
        on:miss="onMiss()"
        on:hit="onHit()"
        on:loose="onLoose()"
        on:win="onWin()"
        maxHits={maxHits}
        maxTurns={maxTurns}
        directions={directions}
    />

    <div class="msg">{msg}</div>
</div>

<script>
import Battle from './Battle.svelte';
import {inc} from '../inc.js';

export default {
    components: {
        Battle,
    },

    props: [
        'maxHits',
        'maxTurns',
        'painSource',
        'hitSource',
        'directions',
    ],

    data() {
        return {
            hp: 0,
            msg: '',

            msgTimeout: null,
        };
    },

    computed: {
        health({hp}) {
            return '🛡️️'.repeat(hp);
        },
    },

    oncreate() {
        this.set({
            hp: this.get().maxHits,
        });
    },

    methods: {
        inc,

        showMessage(msg) {
            this.set({msg});
        },

        clearMessage() {
            this.set({msg: ''});
        },

        onMiss() {
            this.inc('hp', -1);
            this.showMessage(this.get().painSource());

            this.set({
                msgTimeout: setTimeout(() => {
                    this.clearMessage();
                }, 1500),
            });
        },

        onWin() {
            this.battleEnd(true);
        },

        onLoose() {
            this.set({hp:  0});
            this.battleEnd(false);
        },

        battleEnd(isVictory = false) {
            clearTimeout(this.get().msgTimeout);
            this.clearMessage();
            this.fire(isVictory ? 'victory' : 'defeat');
        },

        onHit() {
            this.showMessage(this.get().hitSource());
        },
    },
};
</script>

<style>
.battlefield {
    width: 70%;
    margin: 0 auto;
}

.msg {
    text-align: center;
}

.health {
    text-align: center;
    font-size: 150%;
    margin-bottom: 1em;
    padding-bottom: 1ex;
    border-bottom: 1px solid;
}
</style>