<div class="battle" class:active>
    {#each Object.entries(directions) as [direction, name]}
    <StrikeDirection
        on:click="onDirectionClick(direction)"
        turnDuration={turnDuration}
        left={direction === 'left'}
        center={direction === 'center'}
        right={direction === 'right'}
        active={currentDirection === direction}
    >{name}</StrikeDirection>
    {/each}
</div>

<script>
/* globals scUtils */

import StrikeDirection from './StrikeDirection.svelte';
import {inc} from '../inc.js';

export default {
    components: {
        StrikeDirection,
    },

    props: [
        'maxTurns',
        'maxHits',
        'directions',
    ],

    data() {
        return {
            timeout: null,
            directionsList: [],
            currentDirection: null,
            turnsCounter: 0,
            hitCounter: 0,
            active: false,
            turnDuration: 2500,
            clickable: true,
        };
    },

    computed: {
        battleClass({currentDirection}) {
            return currentDirection !== null ? `battle ${currentDirection}` : 'battle';
        },
    },

    oncreate() {
        const {directions} = this.get();
        this.set({
            active: true,
            directionsList: Object.keys(directions),
        });

        setTimeout(() => this.turn(), 2000);
    },

    methods: {
        inc,

        incDifficulty() {
            const {turnDuration} = this.get();
            this.set({
                turnDuration: Math.clamp(turnDuration * 0.9, 2000, 3000),
            });
        },

        decDifficulty() {
            const {turnDuration} = this.get();
            this.set({
                turnDuration: Math.clamp(turnDuration * 1.2, 2000, 3000),
            });
        },

        getDirection() {
            return scUtils.pickUnique(this.get().directionsList);
        },

        turn() {
            this._clearField();
            this.set({
                currentDirection: this.getDirection(),
            });

            this.set({
                timeout: setTimeout(
                    () => this.onRoundLost(this),
                    this.get().turnDuration
                ),
            });
        },

        _clearField() {
            this.set({currentDirection: null});
        },

        _delayTurn() {
            setTimeout(() => {
                this.set({clickable: true});
                this.turn();
            }, 300);
        },

        onRoundEnd() {
            this._clearField();
            clearTimeout(this.get().timeout);
            this.inc('turnsCounter');
        },

        onRoundLost() {
            this.onRoundEnd();
            this.inc('hitCounter');
            this.decDifficulty();
            const {turnsCounter, maxTurns, hitCounter, maxHits} = this.get();

            if (turnsCounter <= maxTurns) {
                if (hitCounter >= maxHits) {
                    this.onBattleEnd();
                    this.fire('loose');
                } else {
                    this.fire('miss', hitCounter);
                    this._delayTurn();
                }
            }
        },

        onRoundWon() {
            this.onRoundEnd();
            this.incDifficulty();
            const {turnsCounter, maxTurns} = this.get();

            if (turnsCounter <= maxTurns) {
                this.fire('hit');
                this._delayTurn();
            } else {
                this.onBattleEnd();
                this.fire('win');
            }
        },

        onBattleEnd() {
            this._clearField();
            clearTimeout(this.get('timeout'));
            this.set({active: false});
        },

        onDirectionClick(dir) {
            const {active, clickable} = this.get();
            if (!active || !clickable) {
                return;
            }

            this.set({clickable: false});

            if (dir === this.get().currentDirection) {
                this.onRoundWon();
            } else {
                this.onRoundLost();
            }
        },
    },
};
</script>

<style>
.battle {
    opacity: 0.6;
    pointer-events: none;
    transition: all 150ms linear;
}

.battle.active {
    opacity: 1;
    pointer-events: auto;
    transition: all 150ms linear;
}


.battle.left .strike-left svg,
.battle.center .strike-center svg,
.battle.right .strike-right svg {
    opacity: 1;
    transform: scale(1);
    transition-duration: 3000ms;
}

.battle.left .strike-left .progress,
.battle.center .strike-center .progress,
.battle.right .strike-right .progress {
    stroke-dashoffset: 0;
    transition-duration: 3000ms;
}
</style>