<div class="strike" class:active class:left class:center class:right>
    <a class="link" on:click="fire('click')">
        <slot></slot>
        <svg viewBox="0 0 100 100" class="target" style="--incoming-duration: {incomingDuration};">
            <circle cx="50" cy="50" r="40" class="progress-bg"/>
            <circle cx="50" cy="50" r="40" class="progress"/>
        </svg>
    </a>
</div>

<script>
export default {
    components: {
    },

    props: [
        'left',
        'center',
        'right',
        'active',
        'turnDuration',
    ],

    computed: {
        incomingDuration({turnDuration}) {
            return `${turnDuration}ms`;
        },
    },
};
</script>

<style>
.strike {
    line-height: 110%;
}

.link {
    position: relative;
    display: inline-block;
}

.target {
    opacity: 0;
    position: absolute;
    height: 2em;
    transform: scale(0.1);
    transition: all 150ms linear;
    --incoming-duration: 3000ms;
}

.strike.active .target {
    opacity: 1;
    transform: scale(1);
    transition-duration: var(--incoming-duration);
}

.strike.left {
    text-align: left;
}

.strike.left .target {
    right: 110%;
    top: 50%;
    margin-top: -1em;
}

.strike.center {
    text-align: center;
}

.strike.center .target {
    top: 90%;
    left: 50%;
    margin-left: -1em;
}

.strike.right {
    text-align: right;
}

.strike.right .target {
    top: 50%;
    margin-top: -1em;
    left: 110%;
}

circle {
    stroke-width: 20px;
}

.progress {
    --radius: 40; /* keep in sync with r attribute */
    --cf: calc(var(--radius) * 6.283); /* circumference = r * 2*π */

    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    fill: transparent;
    stroke: hsl(0, 64%, 50%);
    transition: stroke-dashoffset 150ms linear;

    stroke-dasharray: var(--cf) var(--cf);
    stroke-dashoffset: var(--cf);
    /* stroke-dashoffset: cf - amount * cf */
    /* where amount from 0 to 1 */
}
.progress-bg {
    stroke: hsla(0, 0%, 70%, 0.5);
    fill: transparent;
}

.strike.active .progress {
    stroke-dashoffset: 0;
    transition-duration: var(--incoming-duration);
}
</style>