<text
    x={center}
    y={center}
    class="centerPiece"
    class:hidden
    class:hyperlink="clickable"
    style="font-size: {fontSize}"
    on:click="fire('click')"
>
    <slot></slot>
</text>

<script>
export default {
    namespace: 'svg',

    props: [
        'clickable',
        'hidden',
        'scale',
        'center',
    ],

    computed: {
        fontSize({scale}) {
            return `${scale * 100}%`;
        },
    },
};
</script>

<style>
.centerPiece {
    dominant-baseline: middle;
    text-anchor: middle;
    fill: currentColor;
}

.hyperlink {
    fill: #68d;
    cursor: pointer;
}

.hyperlink:hover {
    text-decoration: underline;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}
</style>