<svg
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox={viewBox}
    width={width}
    on:mousemove="onMouseMove(event)"
    ref:svg
>
    <defs>
        <CirclePath
            cx={center}
            cy={center}
            r={r}
            size={size}
            pathId={pathId}
        />
        <filter id="glow" filterUnits="userSpaceOnUse">
            <feOffset result="offOut" in="SourceGraphic" dx="0" dy="0"/>
            <feGaussianBlur
                result="blurOut"
                in="offOut"
                stdDeviation={glowForce}
            />
            <feBlend in="SourceGraphic" in2="blurOut" mode="normal"/>
        </filter>
    </defs>

    <Runes
        runes={runes}
        pathId={pathId}
        on:pointClicked="onPointClicked(event)"
        on:snapTo="onSnapTo(event)"
    />

    <Vertices
        points={points}
        on:pointClicked="onPointClicked(event)"
        on:snapTo="onSnapTo(event)"
    />

    <CenterPiece
        clickable={completed && !placed}
        hidden={!completed}
        scale={scale}
        center={center}
        on:click="onCenterPieceClicked()"
    >{centerPieceText}</CenterPiece>

    <g class="constLine" class:error>
        {#each addedLines as line}
            <line x1={line[0][0]} y1={line[0][1]} x2={line[1][0]} y2={line[1][1]} />
        {/each}
    </g>

    {#if tempLine}
        <line x1={tempLine[0][0]} y1={tempLine[0][1]} x2={tempLine[1][0]} y2={tempLine[1][1]} class="tempLine"/>
    {/if}
</svg>

<script>
import {push} from 'svelte-extras';
import {GraphVerifier} from './GraphVerifier.js';
import CenterPiece from './CenterPiece.svelte';
import CirclePath from './CirclePath.svelte';
import Runes from './Runes.svelte';
import Vertices from './Vertices.svelte';

function toRadians(degs) {
    return Math.PI * degs / 180;
}

export default {
    namespace: 'svg',

    components: {
        CenterPiece,
        CirclePath,
        Runes,
        Vertices,
    },

    props: [
        'width',
        'expectedLines',
        'completed',
        'placed',
        'runes',
        'centerPieceText',
    ],

    data() {
        return {
            size: 200,
            startAngle: 120,
            pathId: 'circle',

            addedLines: [],
            currentIndex: null,
            tempLine: null,
            snapTo: null,

            error: false,
        };
    },

    computed: {
        scale({size, width}) {
            return size / width;
        },

        viewBox({size}) {
            return `0 0 ${size} ${size}`;
        },

        center({size}) {
            return size / 2;
        },

        r({size}) {
            return size * 0.4;
        },

        // https://www.mathopenref.com/coordpolycalc.html
        points({center, r, runes, startAngle}) {
            const radius = r * 0.9;
            const sides = runes.length;
            const centerAng = 2 * Math.PI / sides;

            startAngle = toRadians(startAngle);

            //create a vertex array
            const vertex = [];
            for (let i = 0; i < sides; i++) {
                const ang = startAngle + (i * centerAng);
                const vx = Math.round(center + radius * Math.cos(ang));
                const vy = Math.round(center - radius * Math.sin(ang));
                vertex.unshift([
                    vx,
                    vy,
                ]);
            }

            return vertex;
        },

        drawable({completed, placed}) {
            return !completed && !placed;
        },

        glowForce({error, addedLines}) {
            if (error) {
                return 10;
            } else {
                const q = addedLines.length / 6;
                return 2.5 * q;
            }
        },
    },

    oncreate() {
        const {completed, placed, expectedLines} = this.get();

        if (!completed && !placed) {
            this.verifier = new GraphVerifier(
                expectedLines,
                this.onPass.bind(this),
                this.onFail.bind(this),
            );
        } else {
            expectedLines.forEach((line) => {
                this.drawLineBetweenPoints(line[0], line[1]);
            }, this);
        }
    },

    methods: {
        push,

        onPointClicked(index) {
            this.set({
                error: false,
            });

            const {tempLine, drawable, currentIndex} = this.get();

            if (!drawable) {
                return;
            }

            if (tempLine) {
                this.drawLineBetweenPoints(currentIndex, index);
                this.verifier.addLine(currentIndex, index);
                this.set({
                    tempLine: null,
                    currentIndex: null,
                });
            } else {
                const coords = this.getCoordsByIndex(index);
                this.set({
                    tempLine: [
                        coords,
                        coords,
                    ],
                    currentIndex: index,
                });
            }
        },

        drawLineBetweenPoints(index1, index2) {
            this.push('addedLines', [
                this.getCoordsByIndex(index1),
                this.getCoordsByIndex(index2),
            ]);
        },

        onMouseMove(event) {
            const {tempLine, scale, drawable, snapTo} = this.get();
            if (!drawable || snapTo !== null) {
                return;
            }

            if (tempLine) {
                tempLine[1] = [
                    event.offsetX * scale,
                    event.offsetY * scale,
                ];

                this.set({tempLine});
            }
        },

        onSnapTo(event) {
            this.set({snapTo: event});

            if (event !== null) {
                const {tempLine} = this.get();
                if (tempLine) {
                    tempLine[1] = this.getCoordsByIndex(event);
                    this.set({tempLine});
                }
            }
        },

        onCenterPieceClicked() {
            const {completed, placed} = this.get();
            if (completed && !placed) {
                this.set({placed: true});
                this.fire('placed');
            }
        },

        getCoordsByIndex(index) {
            return this.get().points[index];
        },

        clearAddedLines() {
            this.set({
                error: false,
                addedLines: [],
            });
        },

        onPass() {
            this.set({completed: true});
            this.fire('passed');
        },
        onFail() {
            this.fire('failed');

            this.set({
                error: true,
            });

            setTimeout(() => this.clearAddedLines(), 2000);
        },
    },
};
</script>

<style>
.tempLine,
.constLine {
    stroke: currentColor;
    pointer-events: none;
    stroke-linecap: round;
    transition: stroke 300ms linear;
}

.tempLine {
    stroke-width: 2px;
    stroke-opacity: 0.6;
}

.constLine {
    stroke-width: 4px;
    filter: url(#glow);
}

.error.constLine {
    stroke: #af7268;
    transition: stroke 300ms linear;
}
</style>