<text class="runes">
    {#each runesData as datum, index}
        <textPath
            xlink:href={xlink}
            startOffset={datum.offset}
            data-index={index}
            on:click="fire('pointClicked', index)"
            on:mouseenter="fire('snapTo', index)"
            on:mouseleave="fire('snapTo', null)"
        >{datum.rune}</textPath>
    {/each}
</text>

<script>
export default {
    namespace: 'svg',

    props: [
        'runes',
        'pathId',
    ],

    computed: {
        xlink({pathId}) {
            return `#${pathId}`;
        },

        runesData({runes}) {
            const offset = 100 / runes.length;
            return runes.map((rune, i) => {
                return {
                    rune,
                    offset: `${Math.floor(offset * i)}%`, // not sure why, but this looks better
                };
            });
        },
    },
};
</script>

<style>
textPath {
    cursor: pointer;
    fill: currentColor;
}
</style>