<circle
    class="point"
    r="5"
    cx={cx}
    cy={cy}
    data-index={index}
    on:click="fire('click', index)"
    on:mouseenter="fire('snapTo', index)"
    on:mouseleave="fire('snapTo', null)"
/>

<script>
export default {
    namespace: 'svg',

    props: [
        'cx',
        'cy',
        'index',
    ],
};
</script>

<style>
.point {
    cursor: pointer;
    stroke: white;
    stroke-width: 20px;
    stroke-opacity: 0;
    fill: currentColor;
}
</style>