<style id="override-init-screen" type="text/css">
  #init-screen {
    color: #68afa1;
    background-color: #1b1218;
  }

  html[data-init=loading] #init-loading {
    border-top-color: #68afa1;
    border-bottom-color: #68afa1;
  }
</style>

<style id="emoji-support" type="text/css">
  @font-face {
    font-family: 'Noto Color Emoji';
    src: url('./NotoColorEmoji.ttf') format('truetype');

      /*unicode-range: U+1F601-1F64F, U+2702-27B0, U+1F680-1F6C0, U+00A9-1F5FF, U+1F600-1F636, U+1F681-1F6C5, U+1F30D-1F567, U+1F528;*/
      unicode-range: U+0080-02AF, U+0300-03FF, U+0600-06FF, U+0C00-0C7F, U+1DC0-1DFF, U+1E00-1EFF, U+2000-209F, U+20D0-214F, U+2190-23FF, U+2460-25FF, U+2600-27EF, U+2900-29FF, U+2B00-2BFF, U+2C60-2C7F, U+2E00-2E7F, U+3000-303F, U+A490-A4CF, U+E000-F8FF, U+FE00-FE0F, U+FE30-FE4F, U+1F000-1F02F, U+1F0A0-1F0FF, U+1F100-1F64F, U+1F680-1F6FF, U+1F910-1F96B, U+1F980-1F9E0;
  }
</style>
<style id="futhark-support" type="text/css">
    @font-face {
        font-family: 'Noto Sans Runic';
        src: url('./NotoSansRunic-Regular.ttf') format('truetype');

        unicode-range: U+16A0-16EA;
    }
</style>
